body {
    overflow-x: hidden;
    background-color: #ccc;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.nav-bar {
    
    display: flex;
    align-items: center;
    justify-content: center; /* Centra l'immagine orizzontalmente */
    background-color: gray;
    height: 70px; /* Altezza della nav-bar */
    padding: 0 10px;
}

.nav-bar img {
    
    height: auto;
    width: 100%;
    max-width: 200px; /* Dimensioni massime per l'immagine */
    margin: 0 auto; /* Centra l'immagine orizzontalmente */
}

.tornaindietro {
    margin-top: 20px;
    margin-left: 10px;
}

.tornaindietro a {
    text-decoration: none;
    color: black;
}

.tornaindietro a:hover {
    color: white;
}

.interapag {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
}

.interapag img {
    width: 100%;
    max-width: 1000px;
}

.quest {
    margin: 20px 0;
    width: 100%;
    max-width: 1000px;
}

.ridotta {
    width: 100%;
    max-width: 500px;
}

p {
    font-size: 18px;
}

@media (max-width: 768px) {
    .nav-bar {
        justify-content: center;
        width: 100%;
        padding: 0 0px;
    }

    .nav-bar img {
        max-width: 150px; /* Dimensioni massime per l'immagine sui dispositivi mobili */
    }

    .tornaindietro, .quest {
        margin-left: 0px;
        margin-right: 0px; /* Riduce il margine sui dispositivi mobili */
    }

    .quest {
        width: 100%; /* Assicura che le quest si adattino alla larghezza dello schermo */
    }

    .ridotta {
        max-width: 100%;
    }

    p {
        font-size: 19px; /* Riduce leggermente la dimensione del testo sui dispositivi mobili */
    }
}
